<form>
    <div class="row mb-3">
        <label for="login" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="login" ng-model="login" placeholder="Insira seu e-mail cadastrado" />
        </div>
    </div>
    <div class="row mb-3">
         <label for="senha" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="senha" ng-model="senha" placeholder="Insira sua senha cadastrada" />
        </div>
    </div>
</form>