<section id="insere">

    <div class="card">
        <h3 class="subtitulo">Informações necessárias do departamento consumidor</h3>
        
        <div class="card-body">
            <form>
                <div class="mb-3 row">
                    <label for="departamento" class="form-label col-sm-3">Departamento</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="departamento" ng-model="objANS.departamento" />
                    </div>    
                </div>

                <div class="mb-3 row">
                    <label for="responsavel" class="form-label col-sm-3">Responsável pelos dados</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="responsavel" ng-model="objANS.responsavel" />
                    </div>    
                </div>

                <div class="mb-3 row">
                    <label for="consulta" class="form-label col-sm-3">Tabelas para consulta</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="consulta" ng-model="objANS.consulta" />
                    </div>    
                </div>

                <div class="mb-3 row">
                    <label for="validade" class="form-label col-sm-3">Tempo de validade do ANS</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="validade" ng-model="objANS.validade" />
                    </div>    
                </div>

                <div class="mb-3 row">
                    <label for="email" class="form-label col-sm-3">E-mail do departamento</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="email" ng-model="objANS.email" />
                    </div>    
                </div>

                <div class="mb-3 row">
                    <label class="form-label col-sm-3">&nbsp;</label>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-primary" ng-click="btn_insere()">Adicionar</button>
                    </div>    
                </div>
            </form>
        </div>
    </div>    
</section>
