<span ng-include="'view/navbar.html'"></span>

<section id="updateAns">

        <div class="card card-altera">
            <h3 class="subtitulo">Opções de alteração ou atualização</h3>
            <hr />
            <div class="card-body">
                <form>
                    <div class="mb-3 row">
                        <label for="idAlvo" class="form-label">ANS a alterar</label>
                        <input type="text" class="form-control" id="idAlvo" ng-model="idAlvo" value="{{$scope.id_ans}}" disabled />    
                    </div>

                    <div class="mb-3 row">
                        <label for="situacao" class="form-label">Situação</label>
                        <input type="text" class="form-control" id="situacao" ng-model="situacao" />    
                    </div>

                    <div class="mb-3 row">
                        <label for="altera_responsavel" class="form-label">Responsável</label>
                        <input type="text" class="form-control" id="altera_responsavel" ng-model="altera_responsavel" />    
                    </div>

                    <div class="mb-3 row">
                        <label for="altera_faixa_tempo" class="form-label">Faixa de tempo</label>
                        <input type="text" class="form-control" id="altera_faixa_tempo" ng-model="altera_faixa_tempo" />    
                    </div>

                    <div class="mb-3 row">
                        <label for="altera_consumo" class="form-label">Informação</label>
                        <input type="text" class="form-control" id="altera_consumo" ng-model="altera_consumo" />    
                    </div>
                    
                    <button type="button" class="btn btn-primary" ng-click="btnEnviaAtualizacao()">Atualizar</button>    
                    <button type="button" class="btn btn-warning" ng-click="btnDesiste()">Desistir</button>
                </form>
            </div>
        </div>                     
</section>