
<div class="card card-entrada">
    <div class="card-body">
        <form>
            <div class="row mb-3">
                <label for="login" class="col-sm-4 col-form-label">Login</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="login" ng-model="login" placeholder="E-mail cadastrado" />
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="senha" class="col-sm-4 col-form-label">Senha</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="senha" ng-model="senha" placeholder="Senha cadastrada" />
                </div>
            </div>
  
            <button type="button" class="btn btn-primary" ng-click="testaEntrada()">Entrar</button>
        </form>      
    </div>
</div>      