<div class="card card-entrada">
    <div class="card-body">

        <form name="login">
            <div class="mb-3">
                <label for="login" class="form-label">Email address</label>
                <input type="email" class="form-control" id="login" ng-model="login" />
            </div>

            <div class="mb-3">
                <label for="senha" class="form-label">Password</label>
                <input type="password" class="form-control" id="senha" ng-model="senha" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>