<span ng-include="'view/navbar.html'"></span>

<section id="showAns">
    <h4>Observações importantes:</h4>
    <ul>
        <li>Se o responsável pelo departamento mudou, é necessário alterar a situação do ANS para 0 e realizar novo ANS;</li>
        <li>Se a data da assinatura for superior a 24 meses em relação à data atual e não houve mudança no responsável pelo departamento, basta alterar a data da assinatura;</li>
        <li>Se o departamento verificar que necessita de alteração na consulta e não houve mudança no responsável pelo departamento, basta atualizar a consulta e a data da assinatura</li>
    </ul>

    <br />
    <div class="alert" id="alert" role="alert"></div>

    <div class="mb-3 row">
        <div class="col-sm-10">
            <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Procurando por..." />
        </div>    

        <div class="col-sm-2 d-grid gap-2" style="text-align: right;">
            <button class="btn btn-outline-success" href="#!insere"><i class="fa fa-file">&nbsp;</i>Adiciona ANS</button>
        </div>                            
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ANS</th>
                <th>Departamento</th>
                <th>Responsável</th>
                <th>Consulta</th>
                <th>Histórico</th>
                <th>Dt assinatura</th>
                <th>E-mail</th>
                <th>Situação</th>
                <th colspan="2" style="text-align: center;">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in listaAtual | filter:criterioDeBusca">
                <td>{{item.id_ans}}</td>
                <td>{{item.departamento}}</td>
                <td>{{item.responsavel}}</td>
                <td>{{item.consulta}}</td>
                <td>{{item.historico}}&nbsp;meses</td>
                <td>{{item.dt_assinatura | date:'dd/MM/yyyy'}}</td>
                <td>{{item.email}}</td>
                <td>{{item.situacao}}</td>
                <td><a class="btn btn-outline-warning btn-sm" ng-click="btnAltera(item)" data-bs-toggle="modal" data-bs-target="#modalAlt"><i class="fa fa-edit">&nbsp;</i>Altera</a></td>
                <td><button class="btn btn-outline-danger btn-sm" ng-click="btnRemove(item)" data-bs-toggle="modal" data-bs-target="#modalDel"><i class="fa fa-trash">&nbsp;</i>Remove</button></td>
            </tr>
        </tbody>
    </table>    

    <div class="pull-right" style="margin-top:-30px;">
        <dir-pagination-controls
           max-size="5"
           direction-links="true"
           boundary-links="true" >
        </dir-pagination-controls>
    </div>
</section>


<!-- Modal pra remoção de registro -->
<div class="modal" id="modalDel">
    <div class="modal-dialog">
        <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Exclusão de ANS</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body">
                <p>Confirma exclusão do ANS num. {{idx}}?</p>  
            </div>
  
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="btnSolicitaRemocao()">Confirma</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Desiste</button>
            </div>
  
        </div>
    </div>
</div>


<!-- Modal pra alteração de registro -->
<div class="modal" id="modalAlt">
    <div class="modal-dialog">
        <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Alteração dos termos do ANS</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
  
            <!-- Modal body -->
            <div class="modal-body">
                <form id="formAltera" name="formAltera" method="POST" enctype="multipart/form-data" action="./api/altera.php">
                    <div class="mb-3 mt-3">
                        <label for="indice" class="form-label">Indice:</label>
                        <input type="text" class="form-control" id="indice" name="indice" value="{{data1}}" />
                    </div>
                    
                    <div class="mb-3 mt-3">
                        <label for="nova_situacao" class="form-label">Situacao:</label>
                        <input type="text" class="form-control" id="nova_situacao" name="nova_situacao" value="{{data2}}"/>
                    </div>
                    
                    <div class="mb-3">
                        <label for="nova_data" class="form-label">Data da assinatura:</label>
                        <input type="text" class="form-control" id="nova_data" name="nova_data" value="{{data3}}" />
                    </div>
                    
                    <div class="mb-3">
                        <label for="nova_consulta" class="form-label">Consulta:</label>
                        <input type="text" class="form-control" id="nova_consulta" name="nova_consulta" value="{{data5}}" />
                    </div>
                        
                    <div class="mb-3">
                        <label for="novo_historico" class="form-label">Histórico (meses):</label>
                        <input type="text" class="form-control" id="novo_historico" name="novo_historico" value="{{data4}}" />
                    </div>
                        
                    <hr />
                    <button type="submit" id="btnEnviaAlteracao" class="btn btn-primary">Confirma</button>
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Desiste</button>
                </form> 
            </div>
  
        </div>
    </div>
</div>


