<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="lib/tetris.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#!mostra">Listar</a>
                </li>
                <!-- 
                <li class="nav-item">
                    <a class="nav-link" href="#!insere">Novo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#!atualiza">Atualizar</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="#!remove">Excluir</a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" href="#!login">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 