<span ng-include="'view/navbar.html'"></span>

<section id="delAns">
    <div class="card card-altera">
        <h3 class="subtitulo">Informe o ANS a ser excluído</h3>
        
        <div class="card-body">
            <form>
                <div class="mb-3 row">
                    <label for="idAlvo" class="form-label">Mudança na situação do ANS</label>
                    <input type="text" class="form-control" id="idAlvo" ng-model="idAlvo" value="{{idx}}" />  
                </div>

                <button type="button" class="btn btn-primary" ng-click="btnEnviaRemocao()">Atualizar</button>
                <button type="button" class="btn btn-warning" ng-click="btnDesiste()">Desistir</button>
            </form>
        </div>
    </div>    
    {{idx}}
</section>